<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mystyle.css') }}">
</head>
<body background="{{ url_for('static', filename='images/background.jpg') }}">
<div class="content">
<p>There were multiple results for your search. Please pick the teams you want to compare</p>
<form method="POST" action="/searchResults">
       {{ form.csrf_token }}
       <table>
              <tr>
                     <td>
                            {{ form.team1input.label }}
                     </td>
                     <td>
                            {{ form.team1input }}
                     </td>
              </tr>
              <tr>
                     <td>
                            {{ form.team2input.label }}
                     </td>
                     <td>
                            {{ form.team2input }}
                     </td>
              </tr>
       </table>
       <input type="submit" value="Submit">
       <a href="{{ url_for('index')}}" class = "notImage">
       Return Home
       </a>
</form>
</div>
</body>
</html>